@import{ 
  url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Oswald&family=Pacifico&display=swap');
} 
:root{
    --coloe-main:#ff005c;
    --color-1:white;
    --color-2:#f7f7f7;
    --color-text:black;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background: rgba(0, 0, 0, 0.7) url("../images/background.jpeg") center  fixed;
    background-size: cover;
    background-blend-mode: darken;
}
/*/////// Star Header ///////*/
header{
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    justify-content: space-between ;
    align-items: center;
    background:var(--color-1);
    border-bottom: 1px black solid;
    text-transform: capitalize;
    z-index: 100;
}
header img{
    width: 25px;
    height: 25px;
    margin: 0 10px;
    padding-bottom: 5px;
}
header h1 {
    margin-left: 5vw;
    cursor: pointer;
    letter-spacing: 3px;
    color: var(--coloe-main);
    font-weight: 800;
}
header h1 img{
    width: 50px;
    height: 50px;
    margin: 0;
}
header ul {
    width: 50vw;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header li{
    display: flex;
    align-items: center;
}
header ul li a{
    color:var(--color-text);
    font-weight: 600;
    border-bottom: 2px var(--color-1) solid;
    transition: 0.5s;
}
header a:hover{
    padding-bottom: 5px;
    border-bottom: 2px var(--coloe-main) solid;
}
.list,.X{
    display: none;
}
@media screen and (max-width:800px){
    header ul {
        width: 100vw;
        height: 60vh;
        display: none;
        position: absolute;
        border-top:1px black solid;
        border-bottom:1px black solid;
        right: 0px;
        top:80px;
        background-color: var(--color-1);
    }
    header ul li {
        width: 100%;
        margin: 8vh 40%;
        
    }
    .list{
        display: block;
        margin: 10px 10vw 0 10vw;
        cursor: pointer;
    }
    .X{
        margin: 10px 10vw 0 10vw;
        cursor: pointer;
    }
    .open{
        display: block;
    }
    .close{
        display: none;
    }
}
/*/////// End Header ///////*/

/*/////// Start Main ///////*/
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
main h6{
    color: silver;
}
main .info{
    width: 40%;
}
main .info h2{
    margin-bottom: 5px;
    color: var(--color-2);
}
main .info span{
    color: var(--coloe-main);
}
main .info p{
    color: var(--color-2);
}
/*/////// End Main ///////*/

/* Start Containar */
.containar{
    padding: 20px 0;
    background-color:var(--color-1);  
}
.containar .title{
    width: 200px;
    margin: auto;
    text-align: center;
}
.containar .title h2 {
    margin: 10px 0;
    padding: 0 0 15px 0;
    border-bottom:2px solid var(--coloe-main) ;
}
.containar p {
    margin: auto;
    margin-top: 10px;
    width: 200px;
    font-size: smaller;
    color: rgb(55, 54, 54);
    
}
.containar .cards {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.containar .cards .card {
    width: 300px;
    height: 200px;
    margin: 20px 20px;
    border: 1px solid silver;
    border-radius: 10px;
    color: var(--color-text);
    background-color: var(--color-1);
    box-shadow: 1px 1px 5px;
    cursor: pointer;
    transition: 0.5s;
}
.containar .cards .card:hover {
    transform: translateY(-20px)
}
.containar .cards .card img{
    width: 20%;
    border-radius: 20%;
    margin: 20px 0 5px 0;
}
.containar .card h2{
    text-transform: capitalize;
    margin-bottom: 10px;
}
/* End Containar */

/* Start section */
section{
    width: 100%;
    background-color: white;
    padding: 50px 0;
    border-top:1px solid black ;
    border-bottom: 1px solid black ;
}
section .title{
    width: 200px;
    margin: auto;
    text-align: center;
}
section .title h2 {
    margin: 10px 0;
    padding: 0 0 15px 0;
    border-bottom:2px solid var(--coloe-main) ;
}
section p {
    margin: auto;
    margin-top: 10px;
    width: 200px;
    font-size: smaller;
    color: rgb(55, 54, 54);
    
}
section .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
}
section .info img {
    width: 100px;
    height: 100px;
    margin: 50px 100px 50px 100px;
}
section .info p {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    width: 50vw;
    margin: 0 50px;
}
section .info-2 {
    flex-wrap: wrap-reverse;
}
/* End section */

/* Start support  */
.support{
    width: 100%;
}
.support .title{
    padding-top: 50px;
    width: 200px;
    margin: auto;
    text-align: center;
}
.support .title h2 {
    color: white;
    margin: 10px 0;
    padding: 0 0 15px 0;
    border-bottom:2px solid var(--coloe-main) ;
}
.support .full-info {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0;
    margin: auto;
}
.support form input,button{
    display: block;
    width:350px;
    height: 25px;
    margin: 30px 20px;
    text-indent: 15px;
    border: 1px solid black;
    
}
.support input{
    background-color: white;
}
.support button{
    background-color: var(--coloe-main);
    color: white;
}
.support textarea {
    width: 350px;
    height: 250px;
    text-indent: 10px;
    border: 1px solid var(--coloe-main);
    background-color: white;
}
.support textarea:focus , .support input:focus {
    outline: 2px solid var(--coloe-main);
    background-color: black;
    color: white;
}
.socail{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socail .item img{
    width: 50px;
    height: 50px;
    margin: 0 30px;
}
@media screen and (max-width:450px) {
    .support form input,button,.support textarea {
        width: 270px;
    }
}
/* End support */

/*/////// Start Footer ///////*/
footer{
    margin-top: 30px;
    width: 100%;
    padding: 20px 0;
    color: white;
    background: black;
    text-align: center;
    text-transform: capitalize;
    word-spacing: 5px;
    margin-top: ;
}
/*/////// End Footer ///////*/
